* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
}

#banner-section {
    background-image: url(./assets/images/banner/banner3.png);
    /* position: fixed; */
    height: 800px;
    width: 100%;
}

.banner-info {
    color: white;
    width: 300px;
    margin-top: 200px;
    margin-right: 100px;
    float: right;
    text-align: right;
}

.banner-info > a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
    background: white;
    padding: 18px 16px;
    border-radius: 5px;
}

/* Banner Section End  */

/* Failure Section Start  */
#failure {
    margin: 200px 15%;
    letter-spacing: 2px;
    display: flex;
}

.failure-img {
    width: 50%;
}
.failure-img img {
    width: 500px;
}

.failure-context {
    width: 40%;
    margin-top: 200px;
    margin-left: 50px;
}

p img {
    height: 17px;
    width: 17px;
    margin-right: 5px;
    margin-top: 5px;
}
/* Failure Section End */

/* Plans Section Start  */
#plans {
    width: 90%;
    margin: 100px;
}

.plans-target {
    display: flex;
    justify-content: space-between;
}

#plans h2 {
    text-align: center;
    margin: 50px;
}

#plans div div {
    width: 24%;
    text-align: center;
}

#plans-img {
    background-image: url(./assets/images/watch.png);
    margin-top: 150px;
    background-repeat: no-repeat;
    height: 300px;
}

.plans-gredient {
    margin-top: -300px;
    color: white;
}

.plans-gredient > a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: blue;
    background: white;
    padding: 18px 16px;
    border-radius: 5px;
}

/* Footer Section Start  */
footer {
    background-color: black;
    color: white;
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-future {
    width: 400px;
}

.footer-future p {
    padding: 15px 0;
}
input {
    height: 50px;
    width: 300px;
    border-radius: 5px;
}

.subscribe {
    text-decoration: none;
    color: white;
    background-color: #005fac;
    padding: 15px;
    border-radius: 5px;
}

.subscribe-section {
    padding-bottom: 15px;
}
